body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.title {
    text-align: center;
    background: #4a4af5;
    padding: 15px;
    color: white;
    margin: 0;
    font-size: 22px;
}

#map {
    height: 100vh;
    width: 100%;
}
