body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5; /* Light mode background */
    transition: background 0.3s ease;
}

/* Title */
.title {
    text-align: center;
    background: #4a4af5;
    padding: 15px;
    color: white;
    margin: 0;
    font-size: 22px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Map */
#map {
    height: 100vh;
    width: 100%;
}

/* Theme Toggle Button */
.theme-toggle-container {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 2000;
}

.theme-toggle-btn {
    padding: 8px 14px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
    transition: background 0.3s ease, color 0.3s ease;
}

.theme-toggle-btn:hover {
    background: #9aedf4;
}

/* ----------------------------- */
/*          DARK MODE            */
/* ----------------------------- */

body.dark-mode {
    background: #1e1e1e;
}

body.dark-mode .title {
    background: #222;
    color: #e6e6e6;
}

body.dark-mode .theme-toggle-btn {
   /* background: #ddd; */
    color: #e6e6e6;
    font-size: large;
}

body.dark-mode .theme-toggle-btn:hover {
    background: #2e2c2c;
}

@keyframes glowPulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    70% {
      box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
  .aqi-svg-marker {
    border-radius: 50%;
  }
  
  .aqi-glow {
    animation: glowPulse 1.2s ease-out;
  }
  